<template>
  <div>
    <form>
      <fieldset>
        <div class="form-group">
          <label for="title" class="col-sm-2 col-form-label">Title</label>
          <input v-model="newPost.title" type="text" class="form-control" id="title" aria-describedby="title" placeholder="Enter post title">
        </div>
        <div class="form-group">
          <label for="body" class="form-label mt-4">Body</label>
          <textarea v-model="newPost.body" class="form-control" id="body" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="userId" class="col-sm-2 col-form-label">User Id</label>
          <input v-model="newPost.userId" type="text" class="form-control" id="userId" aria-describedby="userId" placeholder="Enter your user id">
        </div>
        <button type="submit" class="btn btn-primary mt-2" @click="submitForm">Submit</button>
      </fieldset>
    </form>
  </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'

export default {
  name: "form.vue",

  data() {
    return {
      newPost: {}
    }
  },

  computed: {
    ...mapState(['posts'])
  },

  methods: {
    ...mapActions(['createPost']),

    submitForm() {
      this.createPost(this.newPost)
    }
  }
}
</script>

<style scoped>

</style>
