<template>
  <div>
    <div v-for="(post) in posts" :key="post.id" class="card mb-3 mt-3">
      <div class="card-body">
        <h4 class="card-title">{{ post.title }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.body }}</h6>
        <p class="card-text">userId: {{ post.userId }}</p>
        <router-link :to="{path: '/form', params: posts, query: {post: post.id}}">Edit post</router-link>
        <button @click="deletePst(post.id)">Delete</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: "index",
  computed: {
    posts() {
      return this.$store.state.posts
    }
  },
  mounted() {
    this.$store.dispatch("getPosts");
  },
  methods: {
    ...mapActions(['deletePost']),
    deletePst(id) {
      this.deletePost(id);
    }
  }
}
</script>

<style scoped>

</style>
